.heading {
  background: linear-gradient(25.99deg, #171717 29.17%, #6949ff 56.71%);
  -webkit-background-clip: text; /* Optional: for text gradient effect */
  color: transparent; /* Optional: makes the text color transparent */
  font-size: 64px; /* Example font size */
  line-height: 61px; /* Example line height */
}
.headingspan {
  background: linear-gradient(25.99deg, #c0b3ff 29.17%, #6949ff 56.71%);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 64px;
  line-height: 61px;
}
.button1 {
  background: linear-gradient(110.25deg, #8a71ff 14.25%, #6949ff 47.06%);
}

.button1:hover {
  background: linear-gradient(110.25deg, #6949FF 14.25%, #8A71FF 47.06%);
}
.listitem {
  border-radius: 24px;
  /* other styles */
}
.parent {
  margin: auto;
  /* width: 70.3125rem !important;
  height: 34.5rem !important; */
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
}
.first {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.second {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.third {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.box {
  width: 23.5rem;
  height: 11rem;
}

.insideBox {
  background-color: #1c1c1c;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 3rem;
  border-radius: 24px;
}
.imgBox {
  width: 23.5rem;
  height: 22.7rem;
  border-radius: 24px;
}

.bigtext {
  font-size: 156px; /* Adjust the size as needed */
  font-weight: 600;
  background: linear-gradient(1.89deg, #0b0b0b, #3f3e3e);
  -webkit-background-clip: text; /* For Safari */
  background-clip: text;
  color: transparent; /* Make text color transparent */
  display: inline-block; /* Ensures the gradient is applied correctly */
}

.bigCard {
  /* max-width: 73.4375rem; */
  display: flex;
  flex-direction: column;
}
.bigCardDivOne {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* Creates 5 equal columns */
  list-style-type: none;
  background-color: #1c1c1c;
  border-radius: 24px;
  margin-bottom: 1rem;
}
.listitem {
  padding: 20px 0;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  border-radius: 24px;

  color: #383838;
  border: 2px solid transparent; /* Initial border to maintain layout */
  transition: color 0.3s, border-color 0.3s; /* Smooth transition for color and border */
}

.listitem:hover,.listitem.active  {
  border: 1px solid #855DFC;
  cursor: pointer;
  color: #ffff; 
  border-style: solid; /* Ensure a solid border style on hover */
  border-width: 2px; /* Adjust width as needed */
  border-radius: 24px;
  box-shadow: inset 0px 2px 3px #6949FF66; /* Increased shadow size and color */}

.bigCardDivTwo {
  max-width: 1158px;
  display: flex;
  gap: 2rem;
  padding: 3rem;

  border-radius: 24px;
  background-color: #1c1c1c;
}
.bigCardDivinnerIOne {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.bigCardDivinnerITwo {
  min-width: 720px;
  min-height: 576px;
}
.innerOneA {
  width: 20.375rem;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 0.5rem;
}
.innerOneAboxes {
  background-color: #171717;
  padding: 1.2rem 1.5rem;
  border-radius: 16px;
  color: #c9c9c9;
  font-size: 14px;
  position: relative;
  z-index: 1;
}

/* .button {
  position: relative; 
  z-index: 1;
  padding: 1rem;
} */

.innerOneAboxes::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 20px;
  bottom: 0;
  z-index: -1;
  width: 80%;
  border-radius: 0.5rem;
  background: linear-gradient(90deg, rgba(179, 163, 255, 0.02) 25.49%, #6949FF 100%);
  opacity: 0;
}
.innerOneAboxes:hover::before {
  opacity: 1; /* Show the before element on hover */
}

.innerOneAboxes:hover {
  cursor: pointer;
}

.midtext {
  font-size: 4rem;
  line-height: 71px;
  color: #c9c9c9ea;
  font-weight: 600;
}
.fourthSection {
  display: flex;
}
.showcard {
  width: 528px;
  height: 568px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(15.89deg, #171717 -0.76%, #272727 87.17%);
  border-radius: 24px;
}

.showCardImgContainer {
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.showcardtext {
  min-height: 40%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.buttonccontainer {
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative; /* Positioning context for absolute elements */
}
.logoContainer {
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16.16px;
}
.appiconsfirst {
  display: flex;
  align-items: center;
  gap: 27.7px;
}
.appiconssecond {
  display: flex;
  align-items: center;
  gap: 27.7px;
}
.button {
  width: 324px;
  height: 74px;
  border-radius: 60px;
  cursor: pointer; /* Pointer cursor on hover */
  transition: all 0.3s; /* Smooth transition */
}
.firstbutton {
  background: linear-gradient(189.26deg, #6949ff -69.3%, #3f2c99 140.07%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  position: relative; /* Needed for overlap */
  margin: -10px 0; /* Adjust margin to overlap */
  z-index: 1; /* Bring it above other buttons */
}
.middlebutton {
  background: linear-gradient(55.28deg, #55175e -8.78%, #fc5d5d 89.55%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  width: 276px;
  position: relative; /* Needed for overlap */
  transform: rotate(10deg); /* Tilt the middle button */
  margin: 5px 0; /* Adjust margin to overlap */
  z-index: 2; /* Bring it above other buttons */
}
.thirdbutton {
  background: linear-gradient(165.91deg, #ddffb3 -2.74%, #0e5816 81.02%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  position: relative; /* Needed for overlap */
  margin: -10px 0; /* Adjust margin to overlap */
  z-index: 3; /* Bring it below the middle button */
}
.buttontext {
  font-size: 16px;
  font-weight: 700;
  line-height: 19.36px;
  letter-spacing: -0.02em;
  text-align: left;
}
.showOfSection {
  min-width: 1158px;
  margin: auto;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  background-color: #1c1c1c;
  border-radius: 24px;
  gap: 18px;
}
.firstPhotoSection {
  display: flex;
  gap: 18px;
}
.secondPhotoSection {
  display: flex;
  gap: 14px;
}
.thirdSection {
  display: flex;
  gap: 7rem;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 5rem;
}
.thirdSectionsecond {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  line-height: 27px;
}

.smallCard {
  background: linear-gradient(15.89deg, #171717 -0.76%, #272727 87.17%);
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.scrollcontainer {
  overflow: hidden; /* Prevent default scrollbar */
  position: relative; /* Required for pseudo-element */
}

.scrollcontent {
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scrolling */
  padding-right: 15px; /* Space for hidden scrollbar */
}
.scrollcontent::-webkit-scrollbar {
  display: none; /* Hide scrollbar */
}

.hoverGradientBorder {
  padding: 10px;
    gap: 10px;
    border-radius: 15px;
    border: 1px solid transparent; /* Border initially transparent */
    transition: all 0.10s ease-in-out; 
  }
  
  
  .hoverGradientBorder:hover{
    border-radius: 15px;
    border: 1px solid #855DFC;
    cursor: pointer;
  }