.maincontainer {
  box-sizing: border-box;

  width: 100vw;

  background-color: #1c1c1c; /* Dark background */
}
.imagecontainer {
  min-height: 80%;
}
.img {
  min-height: 144px !important;
  min-width: 112px !important;
}
.textcontainer {
  height: 20%;
}

.frame {
  min-width: 1056px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.innerframe {
  margin-top: 2rem;
  min-width: 792px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: flex-start;
  margin-bottom: 6rem;
}

.framefirst {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}
.frameheading {
  width: 792px;
}
.templateRow {
  width: 792px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  align-items: flex-start;
}

.templeteImgBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 112px;
}
.addButton {
  width: 112px;
  height: 144px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2d2d2d;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.plusIcon {
  font-size: 36px;
  color: #c9c9c9;
  font-weight: normal;
}
